.idea
*.iml
test.db
.idea/
build/
temp/
.env
pg_data/

frontend_v2/dist/
frontend_v2/node_modules/
frontend_v2/.vite
frontend_v2/.react-router

# data
app_data/
backup_data/
db_data/

# backup config
backup.yaml