services:
  nginx:
    image: nginx:alpine
    ports:
      - "3001:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
      - frontend
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      nysoure-net:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "3000"
    volumes:
      - ./app_data:/var/lib/nysoure
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      nysoure-net:
    
  frontend:
    build: 
      context: ./frontend_v2
      dockerfile: Dockerfile
    expose:
      - "3000"
    env_file:
      - frontend_v2/.env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      nysoure-net:

  postgres:
    image: postgres:18.1
    volumes:
      - ./pg_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      nysoure-net:

  redis:
    image: redis:latest
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      nysoure-net:

  backup:
    build: https://git.nyne.dev/x/backup.git#v0.0.4
    volumes: 
      - ./backup.yaml:/config/backup.yaml
      - ./app_data:/data/app_data:ro
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      nysoure-net:
    depends_on:
      - app
      - postgres

networks:
  nysoure-net: