services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./app_data:/var/lib/nysoure
    depends_on:
      - db
      - redis
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db:
    image: mariadb:latest
    volumes:
      - ./db_data:/var/lib/mysql
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:latest
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  backup:
    build:
      context: .
      dockerfile: Dockerfile.backup
    volumes:
      - ./app_data:/backup/app_data:ro
      - ./db_data:/backup/db_data:ro
      - ./backup_data:/backup/local
    depends_on:
      - db
      - app
    env_file:
      - .env
    restart: no
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
